/* .summary-card {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: none;
  padding: 1rem;
}

.summary-text {
  color: #6c757d;
  font-weight: 500;
  font-size: 0.95rem;
} */